/*icon*/
.go-left{
  background: url('../images/go_left.png') no-repeat center;
  background-size: 43.5px 43.5px;
}
.icon{
  display: inline-block;
  background-size: 100% 100% !important;
}
.icon-right{
  background: url('../images/icon-right.png');
  width: 16px;
  height: 32px;
}
.icon-star{
  background: url('../images/icon-star.png');
  width: 20px;
  height: 20px;
}
.icon-bag {
  width: 42px;
  height: 42px;
  background: url('../images/icon-bag.png');
}
.icon-service {
  width: 42px;
  height: 42px;
  background: url('../images/icon-service.png');
}

.swiper-slide{
  width: 100%;
  height: 550px;
}
.swiper-pagination-bullet{
  width: 10px;
  height: 10px;
  margin: 8px !important;
}
.swiper-pagination-bullet-active{
  background-color: #fff;
}
.swiper-slide img{
  width: 100%;
  height: 100%;
}
/*0.5px border*/
.item-border-left,
.item-border-top,
.item-border-bottom,
.item-border-right {
    position: relative;
}

.item-border-top:before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    color: #EBEBEB;
    transform: scaleY(0.5);
    overflow: hidden;
    top: 0;
    transform-origin: 0 0;
    border-top: 1px solid #EBEBEB; /* no */
}
.item-border-bottom:before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    color: #EBEBEB;
    transform: scaleY(0.5);
    overflow: hidden;
    bottom: -1px;
    transform-origin: 0 0;
    border-bottom: 1px solid #EBEBEB; /* no */
}
.item-border-right:after {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 1px;
    color: #EBEBEB;
    transform: scaleX(0.5);
    overflow: hidden;
    right: -1px;
    transform-origin: 0 0;
    border-right: 1px solid #EBEBEB; /* no */
}

.item-border-left:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 1px;
    color: #EBEBEB;
    transform: scaleX(0.5);
    overflow: hidden;
    transform-origin: 0 0;
    border-left: 1px solid #EBEBEB; /* no */
}
